<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <title>Visualizar Evento - Helen Keller</title>
</head>
<body>
<div th:insert="fragments/header :: header"></div>

<main>
  <div class="container-sm py-4">
    <h1 class="mb-3">Detalhes do Evento</h1>

    <form th:object="${evento}">
      <div class="mb-3">
        <label for="titulo" class="form-label">Título</label>
        <input
          type="text"
          class="form-control"
          id="titulo"
          name="titulo"
          th:field="*{titulo}"
          readonly
          disabled
        />
      </div>

      <div class="mb-3">
        <label for="data" class="form-label">Data</label>
        <input
          type="date"
          class="form-control"
          id="data"
          name="data"
          th:field="*{data}"
          readonly
          disabled
        />
      </div>

      <td class="col-md-1">${evento.data}</td>

      <div class="mb-3">
        <label for="categoriaEvento" class="form-label">Categoria</label>
        <input
          type="text"
          class="form-control"
          id="categoriaEvento"
          name="categoriaEvento"
          th:field="*{categoriaEvento}"
          readonly
          disabled
        />
      </div>


      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição</label>
        <textarea
          class="form-control"
          id="descricao"
          name="descricao"
          th:field="*{descricao}"
          rows="5"
          readonly
          disabled
        ></textarea>
      </div>

      <a type="button" class="btn btn-primary" th:href="@{/visitas}">Voltar</a>
    </form>
  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>
