<div th:fragment="endereco">
  <div class="mb-3">
    <label for="cep" class="form-label">Cep</label>
    <input type="text" class="form-control" id="cep" name="cep">
  </div>
  <div class="mb-3">
    <label for="logradouro" class="form-label">Logradouro</label>
    <input type="text" class="form-control" id="logradouro" name="logradouro">
  </div>
  <div class="mb-3">
    <label for="numero" class="form-label">Numero</label>
    <input type="text" class="form-control" id="endereco-numero" name="numero">
  </div>
  <div class="mb-3">
    <label for="complemento" class="form-label">Complemento</label>
    <input type="text" class="form-control" id="complemento" name="complemento">
  </div>
  <div class="mb-3">
    <label for="cidade" class="form-label">Cidade</label>
    <input type="text" class="form-control" id="cidade" name="cidade">
  </div>
  <div class="mb-3">
    <label for="estado" class="form-label">Estado</label>
    <input type="text" class="form-control" id="estado" name="estado">
  </div>

  <script src="/js/shared/endereco.js"></script>
  <script src="/libs/jquery/jquery-3.6.4.min.js"></script>
</div>
